<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--FineUI节点配置-->
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--SQL数据库连接字符串-->
    <!--<add name="strmysql" connectionString="data source=mammothcode.mysql.rds.aliyuncs.com;initial catalog=mammothcode_xiuchewenwen;persist security info=true;User ID=mammothcode;Password=mammothcode;connectiontimeout=180;" providerName="mysql.data.mysqlclient"/>-->
    <add name="strmysql" connectionString="data source=101.201.223.121;initial catalog=mammothcode_xiuchewenwen;persist security info=true;User ID=mammothcode;Password=p@ssw0rd;connectiontimeout=180;" providerName="mysql.data.mysqlclient"/>
    <!--<add name="strmysql" connectionString="data source=101.201.223.121;initial catalog=xcww;persist security info=true;User ID=mammothcode;Password=p@ssw0rd;connectiontimeout=180;" providerName="mysql.data.mysqlclient"/>-->
    <!--<add name="sqlConnectionString" connectionString="LocalSqlServer: data source=127.0.0.1;Integrated Security=SSPI;Initial Catalog=aspnetdb" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<identity impersonate="true" userName="iZ25y39lqatZ\Administrator" password="4434666Zml" />-->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="1073741824" executionTimeout="3600" requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <!--Elastic配置项-->
    <!--<add key="elasticsearch:node" value="http://101.201.223.121:9200" />-->
    <add key="elasticsearch:node" value="http://121.40.186.49:9200" />
    <add key="elasticsearch:index" value="xiuchewenwen.web" />
    <!--服务器地址-->
    <add key="ServerUrl" value="http://101.201.223.121:45422/"/>
    <!--修车问问地址-->
    <add key="XiuchewenwenServerUrl" value="http://101.201.223.121/"/>
    <!--抓取关键字(用@符号分割)-->
    <add key="grabKeyWord" value="汽修@4S" />
    <!--汽修类CODE-->
    <add key="paramCode" value="20160116fb373486" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--修改服务器允许最大长度-->
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--json版本与FineUI引用的Json版本冲突解决方案-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--IIS7集成管道模式-->
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>